In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [5]:
df= pd.read_csv('D:\python data science\project-1\data\olympic_games.csv')
df

,year,games_type,host_country,host_city,athletes,teams,competitions,country,gold,silver,bronze
0,2022,Winter,China,Beijing,2834,91,109,Australia,1,2,1
1,2022,Winter,China,Beijing,2834,91,109,Austria,7,7,4
2,2022,Winter,China,Beijing,2834,91,109,Belarus,0,2,0
3,2022,Winter,China,Beijing,2834,91,109,Belgium,1,0,1
4,2022,Winter,China,Beijing,2834,91,109,Canada,4,8,14
...,...,...,...,...,...,...,...,...,...,...,...
1776,1896,Summer,Greece,Athens,241,14,43,Hungary,2,1,3
1777,1896,Summer,Greece,Athens,241,14,43,Mixed team,1,0,1
1778,1896,Summer,Greece,Athens,241,14,43,Switzerland,1,2,0
1779,1896,Summer,Greece,Athens,241,14,43,United Kingdom,3,3,3
1780,1896,Summer,Greece,Athens,241,14,43,United States of America,11,7,2