### tuple
python handles multiple values as tuples
- create
- tuple packing and unpacking

In [1]:
x = (1, 2, 3)       # tuple
y = 1, 5, 7         # tuple
print(x)
print(y)

(1, 2, 3)
(1, 5, 7)

In [2]:
word = 'tuple'
for i in enumerate(word):
    print(i)

(0, 't')
(1, 'u')
(2, 'p')
(3, 'l')
(4, 'e')

In [3]:
x = (1,2,5,1,6,1,74,8,4,2,7,3,0,2,2,3)
print(x.count(1))
print(x.index(2))
print(x.index(2,2))     # search for 2, starting from 2

3
1
9

In [4]:
data = ('Alpha', 'Beta', 'Gamma')
a, b, c = data      # unpacking
print(a)
print(b)
print(c)

Alpha
Beta
Gamma

In [5]:
data = ('Alpha', 'Beta', 'Gamma', 'Delta', 'Epsilon')

In [6]:
# take 1st value in a variable and put the rest in second variable
i, *j = data
print(i)
print(j)
a, *b, c = data
print(a,b,c)

Alpha
['Beta', 'Gamma', 'Delta', 'Epsilon']
Alpha ['Beta', 'Gamma', 'Delta'] Epsilon

In [7]:
a = ()      # empty tuple
print(type(a), a)
a = (1)
print(type(a), a)
a = (1,)
print(type(a), a)
a = 1,
print(type(a), a)
x = tuple([1])
print(x, type(x))

<class 'tuple'> ()
<class 'int'> 1
<class 'tuple'> (1,)
<class 'tuple'> (1,)
(1,) <class 'tuple'>

### Set
- create
- methods
- set operations

In [8]:
a = set()   # empty set
b = {1, 2, 3}
c = {6,3,9,3,2,6,4,0,3,1,5,3,7,3,2,8,6,2,3,5,6,8}
print(a)
print(b)
print(c)

set()
{1, 2, 3}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [9]:
d = {'a', 'd', 'c'}
print(d)

{'d', 'a', 'c'}

In [10]:
c.add(5)
print(c)
c.add(100)
c.update([1,2,32,54,71,13])
print(c)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100, 32, 71, 13, 54}

In [11]:
c.remove(13)
print(c)
c.discard(3)        # better than remove
print(c)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100, 32, 71, 54}
{0, 1, 2, 4, 5, 6, 7, 8, 9, 100, 32, 71, 54}

In [12]:
c.pop()     # removes random element
print(c)

{1, 2, 4, 5, 6, 7, 8, 9, 100, 32, 71, 54}

In [6]:
movies1 = {'aaa', 'bbb', 'ccc', 'ddd', 'eee'}
movies2 = {'fff', 'ggg', 'hhh', 'iii', 'jjj'}
movies3 = {'aaa', 'bbb', 'ccc', 'fff', 'ggg', 'hhh', 'kkk'}

- union |
- intersection  &
- difference -
- symmetric difference ^

In [7]:
print(movies1.union(movies3))
print(movies1 | movies3)

{'ccc', 'eee', 'bbb', 'fff', 'ggg', 'kkk', 'aaa', 'ddd', 'hhh'}
{'ccc', 'eee', 'bbb', 'fff', 'ggg', 'kkk', 'aaa', 'ddd', 'hhh'}

In [8]:
print(movies1.intersection(movies3))
print(movies1 & movies3)

{'aaa', 'bbb', 'ccc'}
{'aaa', 'bbb', 'ccc'}

In [10]:
print(movies1.difference(movies3))
print(movies1 - movies3)
print(movies3 - movies1)

{'eee', 'ddd'}
{'eee', 'ddd'}
{'hhh', 'kkk', 'ggg', 'fff'}

In [11]:
print(movies1.symmetric_difference(movies3))
print(movies1 ^ movies3)

{'kkk', 'ddd', 'eee', 'fff', 'hhh', 'ggg'}
{'kkk', 'ddd', 'eee', 'fff', 'hhh', 'ggg'}

- relation
    - isuperset
    - issubset
    - isdisjoint

In [12]:
movies3.issuperset(movies2)

False

In [13]:
movies3.isdisjoint(movies2)

False

In [14]:
movies2.isdisjoint(movies1)

True